*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}
#logo img {
    width: 10rem;
    height: auto;
}
.container{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://i.redd.it/zjgs096khv591.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-shadow: 10px 10px 20px 10px black, -10px -10px 30px 10px black;
    
}
#Language{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 7rem;
    text-align: center;
    font-weight: 600;
    
}
#sign_in button{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 4rem;
    text-align: center;
    height: auto;
    font-weight: 700;
} 

.navbar{
    display: flex;
    justify-content: space-around;
}
#nav_bar_menu{
    margin:  1.8rem 0 0 0 ;;
    display: flex;
    justify-content: space-evenly;
    width: 14rem;
}
#logo{
    margin-right: 2rem;
}
.nav_bar_content{
    color: white;
    margin: 8rem 0 0 0 ;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#email{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    align-items: center;
}
h1{
    font-size: 3.8rem;
}

.img_container{
margin-top: 3rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
gap: 2rem;
}
.img_container p {
    margin-left: 6rem;
}

.img_container img {
    height: 17rem;
    width: auto;
    border-radius: 10px;
}
.BOX{
    display: flex;
    justify-content: space-evenly;
}
.cards{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#card_boxes{
    display: flex;
    justify-content: center;
}
#one,#two,#three,#four{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18rem;
    width: 17rem;
    border-radius: 14px;
    margin-left: 2.5rem;
    color: white;
    background-color: rgb(7, 7, 60);
    transition: 0.4s ease-in;
    background-image: linear-gradient(rgb(7, 7, 60),rgba(255, 0, 0,0.2));

}
#four{
    width: 15rem;
}
#one,#two{
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
#three{
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
#four{

    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#one_one,#two_two,#four_four,#three_three{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 2.5rem;
    gap: 1rem;
    
}
#one_para{
    
    width: 14rem;
    color: rgb(220, 217, 217);
    font-size:16;
    line-height: 20px;
}
#two_para{
    
    width: 11rem;
    color: rgb(220, 217, 217);
    font-size:16;
    line-height: 20px;
}
#three_para{
    width: 14rem;
    color: rgb(220, 217, 217);
    font-size:16;
    line-height: 20px;

}
#four_para{
    font-size:16;
    line-height: 20px;
    width: 13rem;
    margin-right: 1rem;
    color: rgb(220, 217, 217);
}
#TV,#seed,#mask,#download{
    margin-bottom: 2rem;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}
#card-line{
    width: 15rem;
    margin-left: 6.8rem;
    font-size: 25px;
    font-weight: 600;
}
#trending{
    font-size: 25px;
    font-weight: 600;

}
#one:hover{
    transform: scale(1.1);
}
#two:hover{
    transform: scale(1.1);
}
#three:hover{
    transform: scale(1.1);
}
#four:hover{
    transform: scale(1.1);
}
h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
}
.queries{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#que1,#que2,#que3,#que4,#que4,#que5,#que6{
    color: white;
    background-color: rgb(48, 46, 46);
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 53rem;
    width: 65rem;
    height: 6rem;
    transition: 0.2s ease-in;
    font-weight: 600;
    font-size: 20px;
}
#que1{
    gap: 47rem;
}
#que2{
    gap: 40rem;
}
#que3{
    gap: 45rem;
}
#que4{
    gap: 47rem;
}
#que5{
    gap: 41rem;
}
#que6{
    gap: 43rem;
    
}
#que1:hover{
    background-color: rgb(79, 75, 75);
}
#que2:hover{
    background-color: rgb(79, 75, 75);
}
#que3:hover{
    background-color: rgb(79, 75, 75);
}
#que4:hover{
    background-color: rgb(79, 75, 75);
}
#que5:hover{
    background-color: rgb(79, 75, 75);
}
#que6:hover{
    background-color: rgb(79, 75, 75);
    
}
#ques{
    align-self: flex-start;
    margin-left: 7rem;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: white;
}
#reason,#trending {
    color: white;
}
